config DRM_DW_HDMI
	tristate
	depends on DRM
	select DRM_KMS_HELPER

config DRM_DW_HDMI_AHB_AUDIO
	tristate "Synopsis Designware AHB Audio interface"
	depends on DRM_DW_HDMI && SND
	select SND_PCM
	select SND_PCM_ELD
	select SND_PCM_IEC958
	help
	  Support the AHB Audio interface which is part of the Synopsis
	  Designware HDMI block.  This is used in conjunction with
	  the i.MX6 HDMI driver.

config DRM_DW_HDMI_CEC
	tristate "Synopsis Designware CEC interface"
	depends on DRM_DW_HDMI != n
	select HDMI_CEC_CORE
	help
	  Support the CEC interface which is part of the Synposis
	  Designware HDMI block.  This is used in conjunction with
	  the Synopsis Designware HDMI driver.

config DRM_PTN3460
	tristate "PTN3460 DP/LVDS bridge"
	depends on DRM
	depends on OF
	select DRM_KMS_HELPER
	select DRM_PANEL
	---help---
	  ptn3460 eDP-LVDS bridge chip driver.

config DRM_PS8622
	tristate "Parade eDP/LVDS bridge"
	depends on DRM
	depends on OF
	select DRM_PANEL
	select DRM_KMS_HELPER
	select BACKLIGHT_LCD_SUPPORT
	select BACKLIGHT_CLASS_DEVICE
	---help---
	  parade eDP-LVDS bridge chip driver.

config DRM_IT6251
	tristate "IT6251 LVDS to DisplayPort bridge"
	depends on DRM
	select DRM_KMS_HELPER
	---help---
	  Support for IT6251 LVDS to DisplayPort encoder.
