config DRM_PTN3460
	tristate "PTN3460 DP/LVDS bridge"
	depends on DRM
	select DRM_KMS_HELPER
	---help---


config DRM_IT6251
	tristate "IT6251 LVDS to DisplayPort bridge"
	depends on DRM
	select DRM_KMS_HELPER
	help
	  Support for IT6251 LVDS to DisplayPort encoder.
