/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	memory {
		reg = <0x10000000 0xefffffff>;
	};

	regulators {
		compatible = "simple-bus";

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
		};
		reg_audio_codec: es8328-regulator {
			compatible = "regulator-fixed";
			regulator-name = "es8328-power";
			regulator-boot-on;
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			startup-delay-us = <400000>;
			gpio = <&gpio5 17 0>;
			enable-active-high;
		};
		reg_audio_amp: audio-amp-supply {
			compatible = "regulator-fixed";
			regulator-name = "audio-amp-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			startup-delay-us = <300000>;
			gpio = <&gpio4 9 0>;
			enable-active-high;
		};
		reg_lvds_lcd: lcd-regulator {
			compatible = "regulator-fixed";

			regulator-name = "lcd-lvds-power";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;

			gpio = <&gpio4 15 0>;
			enable-active-high;
		};
		reg_display: display-regulator {
			compatible = "regulator-fixed";

			regulator-name = "lcd-lvds-power";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			startup-delay-us = <100000>;
			regulator-boot-on;

			gpio = <&gpio5 28 0>;
			enable-active-high;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		user-button {
			label = "User Button";
			gpios = <&gpio4 14 1>;
			gpio-key,wakeup;
			linux,code = <116>; /* KEY_POWER */
		};
	};

	imx-drm {
		compatible = "fsl,imx-drm";
		crtcs = <&ipu1 0>, <&ipu1 1>;
		connectors = <&hdmi>;
	};

	leds {
		compatible = "gpio-leds";
		heartbeat {
			label = "novena::usr0";
			gpios = <&gpio3 19 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 10000000>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_novena>;
		power-supply = <&reg_lvds_lcd>;

		brightness-levels = <0 3 6 12 16 24 32 48 64 96 128 192 255>;
		default-brightness-level = <12>;
	};

	sound {
		compatible = "kosagi,imx-audio-es8328";
		model = "imx-audio-es8328";
		clocks = <&clks 169>, <&clks 57>, <&clks 173>, <&clks 203>, <&clks 201>;
		clock-names = "cko1", "cko1_sel", "pll4_audio", "pll4_post_div", "cko_sel";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		jack-gpio = <&gpio5 15 0>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT",
			"Ext Spk", "SPK_OUT";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_1>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_1>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_novena>;
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	backlight {
		pinctrl_backlight_novena: backlight-pwm {
			fsl,pins = <
				MX6QDL_PAD_DISP0_DAT8__PWM1_OUT   0x1b0b0
				MX6QDL_PAD_CSI0_DAT10__GPIO5_IO28 0x80000000
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15   0x80000000
			>;
		};
	};

	enet {
		pinctrl_enet_novena: enetgrp-novena {
			fsl,pins = <
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO       0x1b0b0
				MX6QDL_PAD_ENET_MDC__ENET_MDC         0x1b0b0
				MX6QDL_PAD_RGMII_TXC__RGMII_TXC       0x1b020
				MX6QDL_PAD_RGMII_TD0__RGMII_TD0       0x1b028
				MX6QDL_PAD_RGMII_TD1__RGMII_TD1       0x1b028
				MX6QDL_PAD_RGMII_TD2__RGMII_TD2       0x1b028
				MX6QDL_PAD_RGMII_TD3__RGMII_TD3       0x1b028
				MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL 0x1b028
				MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK  0x1b0b0
				MX6QDL_PAD_RGMII_RXC__RGMII_RXC       0x1b0b0
				MX6QDL_PAD_RGMII_RD0__RGMII_RD0       0x1b0b0
				MX6QDL_PAD_RGMII_RD1__RGMII_RD1       0x1b0b0
				MX6QDL_PAD_RGMII_RD2__RGMII_RD2       0x1b0b0
				MX6QDL_PAD_RGMII_RD3__RGMII_RD3       0x1b0b0
				MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL 0x1b0b0
				MX6QDL_PAD_GPIO_16__ENET_REF_CLK      0x4001b0a8

				/* Ethernet reset */
				MX6QDL_PAD_EIM_D23__GPIO3_IO23  0x80000000
			>;
		};
	};

	hdmi {
		pinctrl_hdmi_novena: hdmi_novena {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW2__HDMI_TX_CEC_LINE 0x1f8b0
				MX6QDL_PAD_EIM_A24__GPIO5_IO04        0x80000000
			>;
		};
	};

	fpga {
		pinctrl_fpga_gpio: fpga_gpio {
			fsl,pins = <
				/* FPGA power */
				MX6QDL_PAD_SD1_DAT1__GPIO1_IO17 0x80000000

				/* Reset */
				MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07 0x80000000

				/* FPGA GPIOs */
				MX6QDL_PAD_EIM_DA0__GPIO3_IO00	0x80000000
				MX6QDL_PAD_EIM_DA1__GPIO3_IO01	0x80000000
				MX6QDL_PAD_EIM_DA2__GPIO3_IO02	0x80000000
				MX6QDL_PAD_EIM_DA3__GPIO3_IO03	0x80000000
				MX6QDL_PAD_EIM_DA4__GPIO3_IO04	0x80000000
				MX6QDL_PAD_EIM_DA5__GPIO3_IO05  0x80000000
				MX6QDL_PAD_EIM_DA6__GPIO3_IO06  0x80000000
				MX6QDL_PAD_EIM_DA7__GPIO3_IO07  0x80000000
				MX6QDL_PAD_EIM_DA8__GPIO3_IO08	0x80000000
				MX6QDL_PAD_EIM_DA9__GPIO3_IO09	0x80000000
				MX6QDL_PAD_EIM_DA10__GPIO3_IO10	0x80000000
				MX6QDL_PAD_EIM_DA11__GPIO3_IO11	0x80000000
				MX6QDL_PAD_EIM_DA12__GPIO3_IO12	0x80000000
				MX6QDL_PAD_EIM_DA13__GPIO3_IO13	0x80000000
				MX6QDL_PAD_EIM_DA14__GPIO3_IO14	0x80000000
				MX6QDL_PAD_EIM_DA15__GPIO3_IO15	0x80000000
				MX6QDL_PAD_EIM_A16__GPIO2_IO22  0x80000000
				MX6QDL_PAD_EIM_A17__GPIO2_IO21  0x80000000
				MX6QDL_PAD_EIM_A18__GPIO2_IO20  0x80000000
				MX6QDL_PAD_EIM_CS0__GPIO2_IO23	0x80000000
				MX6QDL_PAD_EIM_CS1__GPIO2_IO24	0x80000000
				MX6QDL_PAD_EIM_LBA__GPIO2_IO27  0x80000000
				MX6QDL_PAD_EIM_OE__GPIO2_IO25   0x80000000
				MX6QDL_PAD_EIM_RW__GPIO2_IO26   0x80000000
				MX6QDL_PAD_EIM_WAIT__GPIO5_IO00 0x80000000
				MX6QDL_PAD_EIM_BCLK__GPIO6_IO31 0x80000000
			>;
		};

		pinctrl_fpga_eim: fpga_eim {
			fsl,pins = <
				/* FPGA power */
				MX6QDL_PAD_SD1_DAT1__GPIO1_IO17 0x80000000

				/* Reset */
				MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07 0x80000000

				/* FPGA GPIOs */
				MX6QDL_PAD_EIM_DA0__EIM_AD00    0xb0f1
				MX6QDL_PAD_EIM_DA1__EIM_AD01    0xb0f1
				MX6QDL_PAD_EIM_DA2__EIM_AD02    0xb0f1
				MX6QDL_PAD_EIM_DA3__EIM_AD03    0xb0f1
				MX6QDL_PAD_EIM_DA4__EIM_AD04    0xb0f1
				MX6QDL_PAD_EIM_DA5__EIM_AD05    0xb0f1
				MX6QDL_PAD_EIM_DA6__EIM_AD06    0xb0f1
				MX6QDL_PAD_EIM_DA7__EIM_AD07    0xb0f1
				MX6QDL_PAD_EIM_DA8__EIM_AD08    0xb0f1
				MX6QDL_PAD_EIM_DA9__EIM_AD09    0xb0f1
				MX6QDL_PAD_EIM_DA10__EIM_AD10   0xb0f1
				MX6QDL_PAD_EIM_DA11__EIM_AD11   0xb0f1
				MX6QDL_PAD_EIM_DA12__EIM_AD12   0xb0f1
				MX6QDL_PAD_EIM_DA13__EIM_AD13   0xb0f1
				MX6QDL_PAD_EIM_DA14__EIM_AD14   0xb0f1
				MX6QDL_PAD_EIM_DA15__EIM_AD15   0xb0f1
				MX6QDL_PAD_EIM_A16__EIM_ADDR16  0xb0f1
				MX6QDL_PAD_EIM_A17__EIM_ADDR17  0xb0f1
				MX6QDL_PAD_EIM_A18__EIM_ADDR18  0xb0f1
				MX6QDL_PAD_EIM_CS0__EIM_CS0_B   0xb0f1
				MX6QDL_PAD_EIM_CS1__EIM_CS1_B   0xb0f1
				MX6QDL_PAD_EIM_LBA__EIM_LBA_B   0xb0f1
				MX6QDL_PAD_EIM_OE__EIM_OE_B     0xb0f1
				MX6QDL_PAD_EIM_RW__EIM_RW       0xb0f1
				MX6QDL_PAD_EIM_WAIT__EIM_WAIT_B 0xb0f1
				MX6QDL_PAD_EIM_BCLK__EIM_BCLK   0xb0f1
			>;
		};
	};

	hog {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				/* Touchscreen interrupt */
				MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13 0x80000000

				/* GPIO LED */
				MX6QDL_PAD_EIM_D19__GPIO3_IO19  0x80000000

				/* User button */
				MX6QDL_PAD_KEY_COL4__GPIO4_IO14 0x80000000
			>;
		};
	};

	pcie {
		pinctrl_pcie_novena: pciegrp-novena {
			fsl,pins = <
				/* Wakeup */
				MX6QDL_PAD_EIM_D22__GPIO3_IO22  0x80000000

				/* Reset */
				MX6QDL_PAD_EIM_D29__GPIO3_IO29  0x80000000

				/* Power On */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12  0x80000000

				/* Wifi kill */
				MX6QDL_PAD_EIM_A22__GPIO2_IO16  0x80000000
			>;
		};
	};

	sound {
		pinctrl_sound_novena: sound-novena {
			fsl,pins = <
				/* Audio power regulator */
				MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17 0x80000000

				/* Headphone plug */
				MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15 0x80000000

				/* Speaker amplifier mute */
				MX6QDL_PAD_KEY_ROW1__GPIO4_IO09    0x80000000

				MX6QDL_PAD_GPIO_0__CCM_CLKO1       0x80000000
			>;
		};
	};

	uart4 {
		pinctrl_uart4_novena: uart4-novena {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA 0x1b0b1
				MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA 0x1b0b1
			>;
		};
	};

	usdhc2 {
		pinctrl_usdhc2_novena: usdhc2-novena {
			fsl,pins = <
				MX6QDL_PAD_SD2_CMD__SD2_CMD    0x17059
				MX6QDL_PAD_SD2_CLK__SD2_CLK    0x10059
				MX6QDL_PAD_SD2_DAT0__SD2_DATA0 0x17059
				MX6QDL_PAD_SD2_DAT1__SD2_DATA1 0x17059
				MX6QDL_PAD_SD2_DAT2__SD2_DATA2 0x17059
				MX6QDL_PAD_SD2_DAT3__SD2_DATA3 0x17059

				/* Write protect */
				MX6QDL_PAD_GPIO_2__GPIO1_IO02   0x80000000

				/* Card detect */
				MX6QDL_PAD_GPIO_4__GPIO1_IO04   0x80000000
			>;
		};
	};
};

&fec {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_novena>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio3 23 0>;
	mac-address = [00 00 00 00 00 00];
	rxc-skew-ps = <3000>;
	rxdv-skew-ps = <0>;
	txc-skew-ps = <3000>;
	txen-skew-ps = <0>;
	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	txd0-skew-ps = <3000>;
	txd1-skew-ps = <3000>;
	txd2-skew-ps = <3000>;
	txd3-skew-ps = <3000>;
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_1>;
	pinctrl-0 = <&pinctrl_usdhc2_novena>;
	cd-gpios = <&gpio1 4 0>;
	wp-gpios = <&gpio1 2 0>;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_2>;
	non-removable;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	dr_mode = "otg";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_2>;
	disable-over-current;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&swbst_reg>;
	status = "okay";
};

&audmux {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_2>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_1>;
	status = "okay";

	bq20z75@b {
		compatible = "sbs,sbs-battery";
		status = "okay";
		reg = <0xb>;
		sbs,i2c-retry-count = <20>;
		sbs,poll-retry-count = <20>;
	};

	stmpe610@0 {
		status = "okay";
		compatible = "st,stmpe610";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x44>;
		irq-over-gpio;
		irq-gpios = <&gpio5 13 0>;
		id = <0>;
		blocks = <0x5>;
		irq-trigger = <0x1>;

		stmpe_adc {
			compatible = "st,stmpe-adc";
		};
		stmpe_touchscreen {
			compatible = "st,stmpe-ts";
			ts,sample-time = <4>;
			ts,mod-12b = <1>;
			ts,ref-sel = <0>;
			ts,adc-freq = <1>;
			ts,ave-ctrl = <1>;
			ts,touch-det-delay = <2>;
			ts,settling = <2>;
			ts,fraction-z = <7>;
			ts,i-drive = <1>;
		};
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_1>;
	status = "okay";

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
		reg = <0x08>;
		status = "okay";

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
				regulator-boot-on;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			coin_reg: coin {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_1>;
	status = "okay";

	codec: es8328@11 {
		compatible = "everest,es8328";
		reg = <0x11>;
		codec-supply = <&reg_audio_codec>;
		audio-amp-supply = <&reg_audio_amp>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sound_novena>;
		status = "okay";
	};

	it6251@73 {
		compatible = "it,it6251";
		reg = <0x5c>;
		power-supply = <&reg_display>;
		status = "okay";
	};

	eepromoops@56 {
		compatible = "kosagi,eepromoops";
		reg = <0x56>;
		status = "okay";
	};
};

&ecspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3_1>;
	fsl,spi-num-chipselects = <3>;
	status = "okay";

	spidev@0 {
		compatible = "spidev";
		spi-max-frequency = <30000000>;
		reg = <0>;
	};

	fpga@1 {
		compatible = "kosagi,novena-fpga";

		spi-max-frequency = <30000000>;
		reg = <1>;

		pinctrl-names = "default", "state-eim", "state-gpio";
		pinctrl-0 = <&pinctrl_fpga_gpio>;
		pinctrl-1 = <&pinctrl_fpga_eim>;
		pinctrl-2 = <&pinctrl_fpga_gpio>;
		clocks = <&clks 205>, <&clks 207>, <&clks 190>, <&clks 196>;
		clock-names = "lvds", "lvds-switch", "lvds-parent", "eim-slow";
		reset-switch = <&gpio1 17 0>;
		power-switch = <&gpio5 7 0>;

		kosagi,weim-cs0-timing = <0x31910BBF 0x00001000 0x09014000
					  0x00000000 0x09080800 0x00000000>;
		kosagi,weim-cs1-timing = <0x81910CBF 0x00001000 0x07001000
					  0x00000200 0x02040400 0x00000000>;
		kosagi,weim-cs-mapping = <2>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie_novena>;
	reset-gpio = <&gpio3 29 0>;
	power-on-gpio = <&gpio7 12 0>;
	wake-up-gpio = <&gpio3 22 0>;
	disable-gpio = <&gpio2 16 0>;
	status = "okay";
};

&hdmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi_novena>;
	ddc = <&i2c2>;
	crtcs = <&ipu1 0>;
	status = "okay";
};

&ldb {
        fsl,dual-channel;
        lvds-channel@0 {
                fsl,data-mapping = "jeida";
                fsl,data-width = <24>;
                crtcs = <&ipu1 0>, <&ipu1 1>;
                display-timings {
                        1920x1080p60 {
                                clock-frequency = <137142857>;
                                hactive = <1920>;
                                vactive = <1080>;
                                hback-porch = <148>;
                                hfront-porch = <88>;
                                hsync-len = <44>;
                                vback-porch = <36>;
                                vfront-porch = <4>;
                                vsync-len = <5>;
                                hsync-active = <1>;
                                vsync-active = <1>;
                        };
/* -- Old retina LCD panel
                        2560x1700p50 {
                                clock-frequency = <185000000>;
                                hactive = <2560>;
                                vactive = <1700>;
                                hback-porch = <80>;
                                hfront-porch = <48>;
                                hsync-len = <32>;
                                vback-porch = <36>;
                                vfront-porch = <3>;
                                vsync-len = <10>;
                                hsync-active = <1>;
                                vsync-active = <1>;
                        };
*/
                };
        };
};
