/*
 * Copyright (C) 2014 Russell King
 */
/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-novena.dtsi"

/ {
	model = "Kosagi Novena Dual/Quad";
	compatible = "kosagi,novena-q", "fsl,imx6q";

	regulators {
		reg_sata: sata-regulator {
			compatible = "regulator-fixed";
			regulator-name = "sata-power";
			regulator-boot-on;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			startup-delay-us = <10000>;
			gpio = <&gpio3 30 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	soc {
		gpu: gpu@00130000 {
			compatible = "fsl,imx6q-gpu";
			reg = <0x00130000 0x4000>, <0x00134000 0x4000>,
			      <0x02204000 0x4000>, <0x0 0x0>;
			reg-names = "iobase_3d", "iobase_2d",
				    "iobase_vg", "phys_baseaddr";
			interrupts = <0 9 0x04>, <0 10 0x04>,<0 11 0x04>;
			interrupt-names = "irq_3d", "irq_2d", "irq_vg";
			clocks = <&clks 26>, <&clks 143>,
				 <&clks 27>, <&clks 121>,
				 <&clks 122>, <&clks 74>;
			clock-names = "gpu2d_axi_clk", "openvg_axi_clk",
				      "gpu3d_axi_clk", "gpu2d_clk",
				      "gpu3d_clk", "gpu3d_shader_clk";
			resets = <&src 0>, <&src 3>, <&src 3>;
			reset-names = "gpu3d", "gpu2d", "gpuvg";
			pu-supply = <&reg_pu>;
		};
	};

	display-subsystem {
		/* Hack to get ipu2 assigned to ldb, and ipu1 to hdmi */
		ports = <&ipu1_di0>, <&ipu2_di0>, <&ipu2_di1>, <&ipu1_di1>;
	};
};

&iomuxc {
	sata {
		pinctrl_sata_novena: satagrp-novena {
			fsl,pins = <
				MX6QDL_PAD_EIM_D30__GPIO3_IO30  0x80000000
			>;
		};
	};
};

&sata {
	status = "okay";
	target-supply = <&reg_sata>;
	fsl,transmit-level-mV = <1025>;
	fsl,transmit-boost-mdB = <0>;
	fsl,transmit-atten-16ths = <8>;
};
